body { font-family: 'Inter', sans-serif; }

@keyframes shine {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.shining-title {
    background: linear-gradient(
        45deg,
        #A855F7 30%,
        #FFFFFF 50%,
        #A855F7 70%
    );

    background-size: 300% 300%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
    animation: shine 3s ease-in-out infinite;
}